.hoursLine{
  position: absolute;
  background: linear-gradient(to bottom, red 0%, red 50%,transparent 0%, transparent 100%);
  z-index: 0;
}
.minutesLine{
  position: absolute;
  background: linear-gradient(to bottom, blue 0%, blue 50%,transparent 0%, transparent 100%);
  z-index: 1;
}
.secondsLine{
  position: absolute;
  background: linear-gradient(to bottom, yellow 0%, yellow 50%,transparent 0%, transparent 100%);
  z-index: 2;
}
.clockBody{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;                   
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}